body{background-image:url("file:///G:/backend-projects/project/images/c4-bg-edited.jpg");
     background-repeat:no-repeat;
	 background-size:cover;}
.c1{background:white;box-shadow: 0px 0px 10px 10px #00000040;justify-content:center;}
.c1r1b1 i{font-size:50px;}
	 